<h1 mat-dialog-title>{{planeta?.name}}</h1>
<div mat-dialog-content class="contenido-dialogo">
  <div class="datos">
    <p>Periodo de rotación:{{planeta?.rotation_period}}</p>
    <p>Periodo orbital:{{planeta?.orbital_period}}</p>
    <p>Diámetro:{{planeta?.diameter}}</p>
    <p>Clima:{{planeta?.climate}}</p>
    <p>Gravedad:{{planeta?.gravity}}</p>
    <p>Terreno:{{planeta?.terrain}}</p>
    <p>Superficie de agua:{{planeta?.surface_water}}</p>
    <p>Población:{{planeta?.population}}</p>
    <p>Residentes:{{planeta?.residents}}</p>
    <p>Películas:{{planeta?.films}}</p>
    <p>Creado:{{planeta?.created}}</p>
    <p>Editado:{{planeta?.edited}}</p>
  </div>


</div>
