<mat-card>
  <mat-card-content>
    <div class="img-wrapper">
      <img [src]="getCharacterImageUrl(person)" alt= "Imagen personaje" height="200px" width="200px" class="poster"/>
    </div>
    <h3 class="nombre-personaje"><b>{{person?.name}}</b></h3>
    <div [ngSwitch]="person.gender">
      <p class="ellipsis" *ngSwitchCase="'male'"><img alt="Icono genero" class="icono" src="../../../assets/2048px-Male_black_symbol.svg.png"></p>
      <p class="ellipsis" *ngSwitchCase="'female'"><img alt="Icono genero" class="icono" src="../../../assets/429451-200.png"></p>
      <p class="ellipsis" *ngSwitchCase="'n/a'"><img alt="Icono genero" class="icono" src="../../../assets/1e955db131fe1df6719a9445b94096d2.png"></p>
    </div>
  </mat-card-content>
</mat-card>
